.step{
    margin-top: 25px;
    margin-bottom: 25px;
}
h3{
    font-weight: 300;
    color: blue;
    padding: 10px 0px 15px 0px;
}
table th{
    font-weight: 350;
    background-color: #26a8d3;
    color: #ffffff;
}
table th, td{
    border: 1px solid rgb(192, 192, 192);
}
mat-form-field{
    width: 40%;
    margin-right: 25px;
}
span{
    color: red;
}
mat-radio-button{
   display: block;
    margin-right: 25px;
}
button{
    margin-left: 10px;
}
.actions{
    float: right;
}