<app-header></app-header>
<div class="container step">
  <mat-horizontal-stepper [linear]="'true'" #stepper>
    <!-- Bước 1 -->
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Thông tin</ng-template>
      <h3>Chào bạn, bạn đã đăng ký lớp học với các thông tin như sau: </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Lớp</th>
            <th>Thời gian</th>
            <th>Học phí</th>
            <th>Ngày bắt đầu</th>
            <th>Địa điểm</th>
            <th>Số lượt đăng ký</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ classes.className }}</td>
            <td>
              <p *ngFor="let cd of classes.classDays">{{cd.schoolDay.day}} ( {{ cd.ca.timeStart }}-{{cd.ca.timeEnd}} )
              </p>
            </td>
            <td>{{ fee | currency }}</td>
            <td>{{ classes.dayStart | date: 'dd-MM-yyyy' }}</td>
            <td>{{ space }}, {{ roomName }}</td>
            <td>{{ classes.size }}/{{ classes.maxSize }}</td>
          </tr>
        </tbody>
      </table>
      <div class="actions">
        <button mat-raised-button color="warn" matStepperNext>Tiếp tục</button>
      </div>
    </mat-step>
    <!-- Bước 2 -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Xác nhận đăng ký</ng-template>
        <h3>Vui lòng hoàn tất thông tin tại đây: </h3>
        <mat-form-field>
          <input matInput placeholder="Họ tên" formControlName="nameRegister">
          <mat-error *ngIf="hasError(secondFormGroup ,'nameRegister', 'required')">Trường này không được bỏ trống
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="hasError(secondFormGroup ,'email', 'required')">Trường này không được bỏ trống</mat-error>
          <mat-error *ngIf="hasError(secondFormGroup ,'email', 'email')">Email sai định dạng</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Đối tượng" formControlName="job">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Điện thoại" formControlName="phone">
          <mat-error *ngIf="hasError(secondFormGroup ,'phone', 'required')">Trường này không được bỏ trống</mat-error>
          <mat-error *ngIf="hasError(secondFormGroup ,'phone', 'pattern')">Số điện thoại sai định dạng</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mã ưu đãi" formControlName="idSale">
        </mat-form-field>
        <button mat-raised-button color="primary">Kiểm tra</button>
        <table class="table">
          <thead>
            <tr>
              <th>Lớp</th>
              <th>Thời gian</th>
              <th>Học phí</th>
              <th>Ngày bắt đầu</th>
              <th>Địa điểm</th>
              <th>Số lượt đã đăng ký</th>
              <th>Số người đăng ký</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ classes.className }}</td>
              <td>
                <p *ngFor="let cd of classes.classDays">{{cd.schoolDay.day}} ( {{ cd.ca.timeStart }}-{{cd.ca.timeEnd}} )
                </p>
              </td>
              <td>{{ curFee | currency }}</td>
              <td>{{ classes.dayStart | date: 'dd-MM-yyyy' }}</td>
              <td>{{ space }}, {{ roomName }}</td>
              <td>{{ classes.size }}/{{ classes.maxSize }}</td>
              <td>
                <mat-form-field>
                  <mat-label>Số người</mat-label>
                  <select matNativeControl (change)="selectNum($event)">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                  </select>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Học phí thực đóng : {{ fee | currency }}</p>
        <div class="actions">
          <button mat-raised-button color="primary" matStepperPrevious>Quay lại</button>
          <button mat-raised-button color="warn" matStepperNext>Tiếp tục</button>
        </div>
      </form>
    </mat-step>
    <mat-step> 
      <ng-template matStepLabel>Thanh toán</ng-template>
      <div [hidden]="isPay">
        <h3>Vui lòng chọn hình thức thanh toán: <span>{{ fee | currency}}</span></h3>
        <mat-radio-group aria-label="Select an option" (change)="onChange($event);">
          <mat-radio-button value="1" checked>Thẻ ngân hàng</mat-radio-button>
          <mat-radio-button value="0">Trực tiếp</mat-radio-button>
        </mat-radio-group>
        <mat-form-field [hidden]="isCard">
          <mat-label>Phương thức</mat-label>
          <mat-select [(ngModel)]="payment">
            <mat-option value="vietcombank"> VietcomBank </mat-option>
            <mat-option value="viettinbank"> ViettinBank </mat-option>
          </mat-select>
        </mat-form-field>
        <p [hidden]="isPlace">Địa chỉ: {{ space }}</p>
        <div class="actions">
          <button mat-raised-button color="primary" matStepperPrevious>Quay lại</button>
          <button mat-raised-button color="warn" (click)="onSubmit(secondFormGroup.value)">Hoàn thành</button>
          <button mat-raised-button color="basic" (click)="stepper.reset()">Làm mới</button>
        </div>
      </div>
      <div [hidden]="!isPay" class="success">
          <h1><fa-icon [icon]="faHandshake"></fa-icon></h1>
          <p>Bạn đã thanh toán thành công, vui lòng <span>kiểm tra email và hoàn tất thông tin</span> trên đường link!!!</p>
          <app-countdown [dayStart]="days"></app-countdown>
        </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<app-footer></app-footer>