<h1 mat-dialog-title>Thêm phòng học</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <!-- Tên phòng -->
    <mat-form-field>
      <input matInput placeholder="Tên phòng*" formControlName="roomName">
      <mat-error *ngIf="hasError('roomName', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Số máy -->
    <mat-form-field>
      <input matInput placeholder="Số máy*" formControlName="size">
      <mat-error *ngIf="hasError('size', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Trạng thái -->
    <mat-radio-group aria-label="Trạng thái" formControlName="status">
      <mat-radio-button value="0">Được sử dụng</mat-radio-button>
      <mat-radio-button value="1">Không được sử dụng</mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Thêm</button>
  </div>
</form>