<div class="bg">
  <div class="topnav container">
    <div class="listmenu">
      <ul class="nav">
        <li><a [routerLink]="['']" class="active">
            <fa-icon [icon]="faHome"></fa-icon>
          </a></li>
        <li>
          <a href="#intro">Lịch khai giảng</a>
          <ul class="sub-menu">
            <li *ngFor="let e of edu"><a [routerLink]="['/calendar', e.idEdu]">
                <fa-icon [icon]="faCalendarAlt"></fa-icon> {{ e.eduName }}
              </a></li>
          </ul>
        </li>
        <li>
          <a href="#course">Chương trình học</a>
          <ul class="sub-menu">
            <li *ngFor="let e of edu"><a [routerLink]="['/courses', e.idEdu]">
                <fa-icon [icon]="icons[e.image]"></fa-icon> {{ e.eduName }}
              </a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/course/register']">Đăng ký ngay</a></li>
        <li><a [routerLink]="['/searchs']">Tra cứu thông tin</a></li>
        <li><a [routerLink]="['/feedback', 1]">Phản hồi</a></li>
        <li *ngIf="isLogin == true"><a [routerLink]="['/admin']">Admin</a></li>
        <li><a [routerLink]="['/news', 1]">Tin tức</a></li>
      </ul>
    </div>
    <div class="box">
      <input type="search" id="search" (keyup)="onSearch($event)" placeholder="Nhập từ khóa..." />
      <button class="btn btn-danger" (click)="onSubmit()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <div [hidden]="isSearch" class="alert alert-dark data_search" role="alert">
        <p *ngFor="let item of data_search; index as i">
          <a [routerLink]="item.split('+')[0].split('-')[1] == 'course' ? ['/detail', item.split('+')[0].split('-')[0]] : ['/news-detail', item.split('+')[0].split('-')[0]]">
            <img mat-card-avatar src="http://localhost:8080/downloadFile/{{ item.split('+')[item.split('+').length-1] }}" alt="{{ item.split('+')[item.split('+').length-1] }}">
            {{ item.split('+')[1] }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>