<div class="container">
  <h1>Sơ lược về trung tâm tin học</h1>
  <div class="row item">
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h1><fa-icon [icon]="faUsers"></fa-icon></h1>
      <h4>Đội ngũ giảng viên</h4>
      <p>Những Cán Bộ Giảng Viên Chuyên Môn Giỏi, Giàu Kinh Nghiệm.</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h1><fa-icon [icon]="faEye"></fa-icon></h1>
      <h4>Kinh nghiệm giảng dạy</h4>
      <p>Trung Tâm Được Thành Lập Từ Năm 1995, Đã Đào Tạo Kỹ Năng Tin Học Ứng Dụng Hàng Chục Nghìn Học Viên.</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h1><fa-icon [icon]="faTasks"></fa-icon></h1>
      <h4>Cơ sở vật chất</h4>
      <p>Học Viên Được Học Trực Tiếp Trên Phòng Máy Tính Của Trường Kể Cả Lý Thuyết Lẫn Thực Hành.</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h1><fa-icon [icon]="faEdit"></fa-icon></h1>
      <h4>Nội dung đào tạo</h4>
      <p>Mang Tính Ứng Dụng Cao Đặc Biệt Là Các Lớp Chuyên Đề Tin Học Ứng Dụng Trong Kinh Tế Xã Hội.</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h1><fa-icon [icon]="faKeyboard"></fa-icon></h1>
      <h4>Phần mềm ôn tập</h4>
      <p>Có Bản Quyền Và Hỗ Trợ Miễn Phí Cho Học Viên, Giúp Học Viên Dễ Dàng Nắm Vững Kiến Thức.</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h1><fa-icon [icon]="faBook"></fa-icon></h1>
      <h4>Tài liệu học tập</h4>
      <p>Được Biên Soạn Và Cập Nhật Thường Xuyên Để Theo Kịp Sự Thay Đổi Của Công Nghệ.</p>
    </div>
  </div>
</div>