<h1 mat-dialog-title>Xếp lịch thi</h1>
<form [formGroup]="form">

  <mat-form-field>
    <mat-label>Khóa học</mat-label>
    <select matNativeControl formControlName="idCourse" (change)="onChangeCourse($event)">
      <option value=""></option>
      <option *ngFor="let cour of allCourse" [value]="cour.idCourse"> {{cour.course}}-{{cour.level.level}}</option>
    </select>
  </mat-form-field>

  <div class="group">
    <mat-form-field class="txt">
      <input matInput placeholder="Thời lượng*" formControlName="duration">
      <mat-error *ngIf="hasError('duration', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>

    <mat-form-field class="select">
      <mat-label>Trạng thái</mat-label>
      <select matNativeControl formControlName="status">
        <option value=""></option>
        <option value="0">Đóng</option>
        <option value="1">Mở</option>  
      </select>
    </mat-form-field>
  </div>

  <div [hidden]="showClass">
    <h6>Lớp học :</h6>
    <mat-checkbox *ngFor="let class of classByCourse" (change)="onChoose($event, class.idClass)"
      [labelPosition]="'before'">{{ class.className }}</mat-checkbox>
  </div>

  <div class="group" [hidden]="showDate" *ngFor="let class of listClass">
    <mat-form-field class="txt">
      <input matInput [matDatepicker]="dp" [placeholder]="class.className" [formControlName]="'form'+class.idClass">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="select">
      <input matInput placeholder="Thời gian*" [formControlName]="'time'+class.idClass">
    </mat-form-field>
  </div>
</form>

<button mat-raised-button color="primary" type="button" (click)="onSubmit()">Tạo</button>