<h1 mat-dialog-title>Xếp lịch thi</h1>
<form [formGroup]="form">

  <mat-form-field>
    <mat-label>Khóa học</mat-label>
    <select matNativeControl formControlName="idCourse" (change)="onChangeCourse($event)">
      <option value=""></option>
      <option *ngFor="let cour of allCourse" [value]="cour.idCourse"> {{cour.course}}-{{cour.level.level}}</option>
    </select>
  </mat-form-field>

  <div class="group">
    <mat-form-field class="txt">
      <input matInput placeholder="Thời lượng*" formControlName="duration">
      <mat-error *ngIf="hasError('duration', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>

    <mat-form-field class="select">
      <mat-label>Trạng thái</mat-label>
      <select matNativeControl formControlName="status">
        <option value=""></option>
        <option value="0">Đóng</option>
        <option value="1">Mở</option>  
      </select>
    </mat-form-field>
  </div>

  <div [hidden]="showClass">
    <h6>Lớp học :</h6>
    <mat-checkbox *ngFor="let class of classByCourse" (change)="onChoose($event, class.idClass)"
      [labelPosition]="'before'">{{ class.className }}</mat-checkbox>
  </div>

  <div class="group" [hidden]="showDate" *ngFor="let class of listClass">
    <mat-form-field class="txt">
      <input matInput [matDatepicker]="dp" [placeholder]="class.className" [formControlName]="'form-'+class.idClass">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="select">
      <input matInput placeholder="Thời gian*" [formControlName]="'time-'+class.idClass">
    </mat-form-field>
  </div>
</form>

<button mat-raised-button color="primary" type="button" (click)="onSubmit()">Thêm</button>
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Lớp</mat-label>
      <select matNativeControl formControlName="idClass">
        <option [value]=""></option>
        <ng-container *ngIf="allClass != null">
          <option *ngFor="let acc of allClass " [value]="acc.idClass">{{ acc.className }}</option>
        </ng-container>
      </select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" formControlName="dayExam" id="date" readonly
        (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('dayExam', 'required')">Chọn ngày sinh</mat-error>
    </mat-form-field>
     <mat-form-field>
      <input matInput placeholder="Thời gian thi" formControlName="timeExam">
      <mat-error *ngIf="hasError('timeExam', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Thời lượng*" formControlName="duration">
      <mat-error *ngIf="hasError('duration', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>
    <mat-radio-group aria-label="Trạng thái" formControlName="status">
      <mat-radio-button value="1">Đã mở</mat-radio-button>
      <mat-radio-button value="0">Chưa mở</mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" type="submit">Thêm</button>
  </div>
</form> -->