mat-form-field{
    width: 100%;
}
mat-radio-button{
    margin-right: 20px;
}
button, input[type="button"]{
    width: 150px;
    margin: 0px auto;
}
h1{
    text-align: center; 
}
mat-checkbox{
   display: block;
}
.group .txt{
    width: 70%;
    padding-right: 3%;
}
.group .select{
    width: 30%;
    padding-left: 2%;
}