<h1 mat-dialog-title>Lập hóa đơn</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <!-- Khóa học -->
    <mat-form-field>
      <mat-label>Lớp học</mat-label>
      <select matNativeControl formControlName="idClass">
        <option [value]=""></option>
        <ng-container *ngIf="allClass != null">
          <option *ngFor="let cour of allClass " [value]="cour.idClass">{{ cour.className + '-' + cour.course.course + '-' +cour.course.level.level }}
          </option>
        </ng-container>
      </select>
    </mat-form-field>
    <!-- Học viên -->
    <mat-form-field>
        <input matInput placeholder="Tên người đóng" formControlName="studentName">
        <mat-error *ngIf="hasError('studentName', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Nhân viên -->
    <mat-form-field>
      <mat-label>Nhân viên</mat-label>
      <select matNativeControl formControlName="idEmployee">
        <option [value]=""></option>
        <ng-container *ngIf="allEmployee != null">
          <option *ngFor="let emp of allEmployee " [value]="emp.idEmployee">{{ emp.employeeName }}</option>
        </ng-container>
      </select>
    </mat-form-field>
    <!-- Ngày lập -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Ngày lập" formControlName="dateInvoice" id="date" readonly
        (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('dateInvoice', 'required')">Chọn ngày lập</mat-error>
    </mat-form-field>
    <!-- Học phí -->
    <mat-form-field>
      <input matInput placeholder="Học phí" formControlName="cost">
      <mat-error *ngIf="hasError('cost', 'required')">Trường này không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Phương thức thanh toán -->
    <mat-form-field>
      <mat-select formControlName="payment">
        <mat-option value="vietcombank"> VietcomBank </mat-option>
        <mat-option value="viettinbank"> ViettinBank </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Nhóm -->
    <mat-form-field>
      <mat-select formControlName="groupNum">
        <mat-option value="1"> 1 </mat-option>
        <mat-option value="3"> 3 </mat-option>
        <mat-option value="5"> 5 </mat-option>
        <mat-option value="7"> 7 </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Thêm</button>
  </div>
</form>