mat-form-field{
    width: 45%;
    margin-right: 15px;
}
mat-radio-button{
    margin-right: 25px;
}
.info{
    margin-top: 25px;
    margin-bottom: 25px;
}
button{
    width: 150px;
    text-align: center;
    margin-left: 75%;
}
input[type= button]{
    text-align: center;
    border-radius: 0px;
}
h1{
    color: #4054b2;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
span{
    color: red
}