<app-header></app-header>
<div class="container info" *ngIf="status == 0; else elseBlock">
  <h1>Bạn đã đăng ký nhóm {{ num }} người, vui lòng hoàn tất thông tin: </h1>
  <h5><span>*</span> Thông tin người thứ {{ n }}: </h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div mat-dialog-content>
      <!-- Họ tên -->
      <mat-form-field>
        <input matInput placeholder="Họ tên*" formControlName="studentName">
        <mat-error *ngIf="hasError('studentName', 'required')">Tên không được bỏ trống</mat-error>
        <mat-error *ngIf="hasError('studentName', 'maxlength')">Tối đa 30 ký tự</mat-error>
      </mat-form-field>
      <!-- CMND -->
      <mat-form-field>
        <input matInput placeholder="Số cmnd*" formControlName="cmnd">
        <mat-error *ngIf="hasError('cmnd', 'required')">CMND không được bỏ trống</mat-error>
        <mat-error *ngIf="hasError('cmnd', 'pattern')">CMND chỉ chứa kí tự từ 0->9</mat-error>
      </mat-form-field>
      <!-- Ngày sinh -->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Ngày sinh*" formControlName="studentDate" id="date"
          readonly (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="hasError('studentDate', 'required')">Chọn ngày sinh</mat-error>
      </mat-form-field>
      <!-- Giới tính -->
      <mat-radio-group aria-label="Giới tính*" formControlName="sex">
        <mat-radio-button value="1">Nam</mat-radio-button>
        <mat-radio-button value="0">Nữ</mat-radio-button>
      </mat-radio-group>
      <!-- Địa chỉ -->
      <mat-form-field>
        <input matInput placeholder="Địa chỉ*" formControlName="address">
        <mat-error *ngIf="hasError('address', 'required')">Địa chỉ không được bỏ trống</mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field>
        <input matInput placeholder="Email*" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">Email không được bỏ trống</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Email sai định dạng</mat-error>
      </mat-form-field>
      <!-- Số điện thoại -->
      <mat-form-field>
        <input matInput placeholder="Số điện thoại*" formControlName="phone">
        <mat-error *ngIf="hasError('phone', 'pattern')">Số điện thoại chỉ chứa kí tự từ 0->9</mat-error>
        <mat-error *ngIf="hasError('phone', 'required')">Số điện thoại không được bỏ trống</mat-error>
      </mat-form-field>
      <!-- Nghề nghiệp hiện tại -->
      <mat-form-field>
        <input matInput placeholder="Nghề nghiệp hiện tại" formControlName="job">
      </mat-form-field>
    </div>
    <ng-container *ngIf="n > 1 && n <= num">
      <input class="btn btn-dark" type="button" value="Lùi" (click)="prev(form.value);">
    </ng-container>
    <ng-container *ngIf="n >= 1 && n < num">
      <input class="btn btn-primary" type="button" value="Tiếp" (click)="next(form.value);">
    </ng-container>
    <ng-container *ngIf="n == num">
      <button mat-raised-button color="warn" type="submit">Đăng ký</button>
    </ng-container>
  </form>
</div>
<ng-template #elseBlock>
  <h1>Bạn đã xác hoàn tất thông tin rồi vui lòng chờ đến ngày học</h1>
</ng-template>
<app-footer></app-footer>