<div class="alert alert-info classes" role="alert">
  <h4>Các lớp hiện đang mở tại khóa học <span>{{ course.course }} {{ level }}</span></h4>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Lớp</th>
          <th>Thời gian</th>
          <th>Ngày bắt đầu</th>
          <th>Địa điểm</th>
          <th>Sĩ số</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of classes; let i = index">
          <th>{{ class.idClass }}</th>
          <td>
            <p *ngFor="let cd of class.classDays">{{cd.schoolDay.day}} ( {{ cd.ca.timeStart }}-{{cd.ca.timeEnd}} )</p>
          </td>
          <td>{{ class.course.dayStart | date: 'dd-MM-yyyy' }}</td>
          <td>{{ class.course.space }}, {{ class.room.roomName }}</td>
          <td>{{ class.size }}/{{ class.maxSize }}</td>
          <td><a [routerLink]="['/class/register', class.idClass]">Đăng ký</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
