<div class="manage">
  <button *ngIf="data != '' ? isShow : !isShow" mat-mini-fab color="accent" (click)="onOpenDialogAdd()"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let item">{{ item.idStudent }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
      <td mat-cell *matCellDef="let item">{{ item.studentName }}</td>
    </ng-container>
    <ng-container matColumnDef="cmnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CMND</th>
      <td mat-cell *matCellDef="let item">{{ item.cmnd }}</td>
    </ng-container>
    <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Công việc</th>
      <td mat-cell *matCellDef="let item">{{ item.job }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sinh</th>
      <td mat-cell *matCellDef="let item">{{ item.studentDate | date: 'dd-MM-yyyy' }}</td>
    </ng-container>
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Giới tính</th>
      <td mat-cell *matCellDef="let item">{{ item.sex == 1 ? 'Nam' : 'Nữ' }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ</th>
      <td mat-cell *matCellDef="let item">{{ item.address }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let item">{{ item.email }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SDT</th>
      <td mat-cell *matCellDef="let item">{{ item.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="tool">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Thao tác</th>
      <td mat-cell *matCellDef="let item">
        <button mat-raised-button color="primary" *ngIf="data != '' ? isShow : !isShow" (click)="openDialog(item.idStudent)"><fa-icon [icon]="faPen"></fa-icon></button>
        <button mat-raised-button color="warn" *ngIf="data != '' ? isShow : !isShow" (click)="onDelete(item.idStudent)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
        <button mat-raised-button color="warn" *ngIf="data != '' ? !isShow : isShow" (click)="onDelete(item.idStudent)"><fa-icon [icon]="faHandPointer"></fa-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>