*{
    color: white;
}
.lecturers{
    float: right;
    width: 80%;
}
.lecturers h4{
    margin-top: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .lecturers{
        float: none;
        width: 100%;
    }
    .lecturers h4{
        display: block;
        width: 100%;
    }      
}