<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ntop" aria-controls="ntop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button> -->
<div class="menu" id="ntop">
  <div class="user">
      <fa-icon [icon]="faUser"></fa-icon> User
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/account-manage']">Tài khoản</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/employee-manage']">Nhân viên</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/lecturers-manage']">Giảng viên</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/student-manage']">Học viên</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/course-manage']">Khóa học</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/class-manage']">Lớp học</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/invoice-manage']">Hóa đơn</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/room-manage']">Phòng</a>
    </li>
  </ul>
</div>