.menu{
    padding-bottom: 100px;
    width: 250px;
    border: 2px solid #f8f9fa!important;
    background: #f8f9fa!important;
    box-sizing: border-box;
    z-index: 9999999;
}
.menu ul{
    width: 100%;
}
.menu ul li{
    width: 100%;
    padding: 3px 5px;
}
.menu ul li a{
    color: rgb(21, 90, 201);
}
.menu ul li:hover{
    background-color: #e9ecef;
}
.menu .user{
    padding: 20px;
    color:  rgb(21, 90, 201);
    border-bottom: 1px solid #dee2e6;
}

@media screen and (max-width: 600px) {
    .menu{
        float: none;
        width: 100%;
    }
}