.msg{
    color: red;
    padding-left: 20px;
}
.employee{
    margin: 20px 200px;
}
.employee button{
    width: 100%;
}
@media screen and (max-width: 600px) {
    table{
        clear: both;
        width: 100%;
        display: block;
    } 
    
    .employee{
        margin: 0;
    }
}