<h1 mat-dialog-title>Thêm nhân viên</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <!-- Họ tên -->
    <mat-form-field>
      <input matInput placeholder="Họ tên*" formControlName="employeeName">
      <mat-error *ngIf="hasError('employeeName', 'required')">Tên không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('employeeName', 'maxlength')">Tối đa 30 ký tự</mat-error>
    </mat-form-field>
     <!--Tên đăng nhập -->
     <mat-form-field>
      <input matInput placeholder="Tên đăng nhập*" formControlName="username">
      <mat-error *ngIf="hasError('username', 'required')">Tên không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('username', 'minLength')">Ít nhất 5 ký tự</mat-error>
    </mat-form-field>
     <!-- Mật khẩu -->
     <mat-form-field>
      <input matInput placeholder="Mật khẩu*" formControlName="pass">
      <mat-error *ngIf="hasError('pass', 'required')">Tên không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('pass', 'minLength')">Ít nhất 5 ký tự</mat-error>
    </mat-form-field>
    <!-- CMND -->
    <mat-form-field>
      <input matInput placeholder="Số cmnd*" formControlName="cmnd">
      <mat-error *ngIf="hasError('cmnd', 'required')">CMND không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('cmnd', 'pattern')">CMND chỉ chứa kí tự từ 0->9</mat-error>
    </mat-form-field>
    <!-- Vai trò -->
    <mat-form-field>
      <input matInput placeholder="Vai trò*" formControlName="roles">
      <mat-error *ngIf="hasError('roles', 'required')">Vai trò không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Ngày sinh -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" formControlName="employeeDate" id="date" readonly
        (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('employeeDate', 'required')">Chọn ngày sinh</mat-error>
    </mat-form-field>
    <!-- Giới tính -->
    <mat-radio-group aria-label="Giới tính" formControlName="sex">
      <mat-radio-button value="1">Nam</mat-radio-button>
      <mat-radio-button value="0">Nữ</mat-radio-button>
    </mat-radio-group>
    <!-- Địa chỉ -->
    <mat-form-field>
      <input matInput placeholder="Địa chỉ" formControlName="address">
      <mat-error *ngIf="hasError('address', 'required')">Địa chỉ không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Email -->
    <mat-form-field>
      <input matInput placeholder="Email*" formControlName="email">
      <mat-error *ngIf="hasError('email', 'required')">Email không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">Email sai định dạng</mat-error>
    </mat-form-field>
    <!-- Số điện thoại -->
    <mat-form-field>
      <input matInput placeholder="Số điện thoại*" formControlName="phone">
      <mat-error *ngIf="hasError('phone', 'pattern')">Số điện thoại chỉ chứa kí tự từ 0->9</mat-error>
      <mat-error *ngIf="hasError('phone', 'required')">Số điện thoại không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Lương -->
    <mat-form-field>
      <input matInput placeholder="Lương*" formControlName="salary">
      <mat-error *ngIf="hasError('salary', 'pattern')">Lương chỉ chứa kí tự từ 0->9</mat-error>
      <mat-error *ngIf="hasError('salary', 'required')">Lương không được bỏ trống</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Thêm</button>
  </div>
</form>