<h1 mat-dialog-title>Sửa thông tin</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <!-- Tên lớp-->
    <mat-form-field>
      <input matInput placeholder="Tên lớp*" formControlName="className">
      <mat-error *ngIf="hasError('className', 'required')">Tên lớp không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Phòng học -->
    <mat-form-field>
      <mat-label>Phòng học*</mat-label>
      <select matNativeControl formControlName="idRoom">
        <option *ngFor="let acc of allRoom " [value]="acc.idRoom">{{ acc.roomName }}</option>
      </select>
      <mat-error *ngIf="hasError('idRoom', 'required')">Phòng học không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Khóa học -->
    <mat-form-field>
      <mat-label>Khóa học*</mat-label>
      <select matNativeControl formControlName="idCourse">
        <option *ngFor="let acc of allCourse " [value]="acc.idCourse">{{ acc.course + '-' + acc.level.level }}</option>
      </select>
      <mat-error *ngIf="hasError('idCourse', 'required')">Khóa học không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Giảng viên -->
    <mat-form-field>
      <mat-label>Giảng viên*</mat-label>
      <select matNativeControl formControlName="idLecturers">
        <option *ngFor="let acc of allLec " [value]="acc.idLecturers">{{ acc.lecturersName }}</option>
      </select>
      <mat-error *ngIf="hasError('idLecturers', 'required')">Giảng viên không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Sĩ số -->
    <mat-form-field>
      <input matInput placeholder="Sĩ số*" formControlName="size">
      <mat-error *ngIf="hasError('size', 'required')">Sĩ số không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('size', 'pattern')">Sĩ số chỉ chứa kí tự 0->9</mat-error>
    </mat-form-field>
    <!-- Sĩ số tối thiểu-->
    <mat-form-field>
      <input matInput placeholder="Sĩ số tối thiểu*" formControlName="minSize">
      <mat-error *ngIf="hasError('minSize', 'required')">Sĩ số tối thiểu không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('minSize', 'pattern')">Sĩ số tối thiểu chỉ chứa kí tự 0->9</mat-error>
    </mat-form-field>
    <!-- Sĩ số tối đa-->
    <mat-form-field>
      <input matInput placeholder="Sĩ số tối đa*" formControlName="maxSize">
      <mat-error *ngIf="hasError('maxSize', 'required')">Sĩ số tối đa không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('maxSize', 'pattern')">Sĩ số tối đa chỉ chứa kí tự 0->9</mat-error>
    </mat-form-field>
    <!-- Trạng thái -->
    <mat-form-field>
      <mat-label>Trạng thái*</mat-label>
      <select matNativeControl formControlName="status">
        <option value="1">Đã mở</option>
        <option value="0">Chưa mở</option>
      </select>
      <mat-error *ngIf="hasError('status', 'required')">Trạng thái không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Lịch -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title (click)="getEmptys();">
            Lịch học
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let sd of allSchoolDay">
          <label>{{ sd.day }} :</label>
          <section>
            <ng-container *ngFor="let ca of emptys;">
              <mat-checkbox *ngIf="sd.idSchoolDay+'' == ca.charAt(0)" (change)="changeCk(sd.idSchoolDay,ca.idCa,$event);">
                Ca {{ ca.charAt(2) }}
              </mat-checkbox>
            </ng-container>
          </section>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" type="submit">Sửa</button>
  </div>
</form>