<div class="login">
  <h1 mat-dialog-title><a [routerLink]="['']"><mat-icon>home</mat-icon></a> Đăng nhập</h1>
  <form [formGroup]="form" class="formlogin" (ngSubmit)="form.valid && onSubmit(form.value)">
    <div mat-dialog-content>
      <!-- Tên đăng nhập -->
      <mat-form-field>
        <input matInput placeholder="Tên đăng nhập*" formControlName="username">
        <mat-error *ngIf="hasError('username', 'required')">Trường này không được bỏ trống</mat-error>
      </mat-form-field>
      <!-- Mật khẩu -->
      <mat-form-field>
        <input matInput placeholder="Mật khẩu*" formControlName="pass">
        <mat-error *ngIf="hasError('pass', 'required')">Trường này không được bỏ trống</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button color="primary" type="submit">Đăng nhập</button>
    </div>
    <h4>Hoặc</h4>
    <p>Chưa có tài khoản? <a [routerLink]="['/register']">Đăng ký</a></p>
    <a class="remember" [routerLink]="['/register']">Quên mật khẩu?</a>
  </form>
</div>