.login{
    margin: 10px;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    margin: 140px auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #33b5e5;
}
.login h1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #33b5e5;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
mat-icon{
    color: blue;
    float: left;
}
mat-form-field{
    width: 100%;
}
mat-form-field input{
    background: #fff;
    color: #ccc6c6;
    font-family: inherit;
    font-size: 0.95em;
    width: 100%;
    margin: 10px 0px;
}
.formlogin{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
 .login button{
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: .5s ease-in;
    margin-top: 15px;
}

.login button:hover {
    background:rgb(49, 67, 223);
}
  
.login button:focus {
border-color: #05a;
}

.login a{
    color: #33b5e5;
}

.login p{
    margin-top: 15px;
    text-align: center;
}

.login h4{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #33b5e5;
    font-weight: 350;
}
.login .remember{
    display: block;
    text-align: center;
    padding-bottom: 25px;    
}

@media screen and (max-width: 600px) {
    .login{
        width: 90%;
    }      
} 