.course{
    margin-bottom: 25px;
    margin-top: 25px;
}
.card {
    max-width: 400px;
}
.card img{
    height: 200px;
    position: relative;
}
mat-card{
    margin-bottom: 15px;
}
mat-card-content{
    height: 50px;
}
.header-image {
    background-image: url('../../../assets/images/img.PNG');
    background-size: cover;
}
.detail{
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: height 1s, opacity 1s;
    border-radius: 3px;
    z-index: 9999;
}
.card:hover .detail{
    opacity: 0.5;
    height: 288px;
}
.detail p{
    font-family: Arial, "Times New Roman", Tahoma, serif;
    text-align: center;
}
.detail a{
    font-size: 24pt;
    color: white;
    height: 288px;
    line-height: 288px;
    text-decoration: none;
}