<ng-container *ngIf="courses != null; else isNull">
  <div class="container course">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let cour of courses; let i=index">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ cour.course }}-{{ cour.level.level }}</mat-card-title>
            <mat-card-subtitle>Trung tâm tin học</mat-card-subtitle>
          </mat-card-header>
          <div class="detail">
            <p><a [routerLink]="['/detail', cour.idCourse]">Xem chi tiết</a></p>
          </div>
          <img mat-card-image src="http://localhost:8080/downloadFile/{{cour.image}}" alt="{{cour.image}}">
          <mat-card-content>
            <p>{{ cour.describes }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/courses/{{cour.educationProgram.idEdu}}/open/{{cour.idCourse}}" mat-button><mat-icon>remove_red_eye</mat-icon> Xem lịch học</a>
            <a [routerLink]="['']" mat-button><mat-icon>description</mat-icon> Đăng ký</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #isNull>Loading...</ng-template>