<app-header></app-header>
<div class="container course">
  <h1>Thông tin ưu đãi</h1>
  <div style="text-align: center;">
      <div style="text-align: left;">
        <p>
          <strong><span style="font-size:14px;">Tất cả các lớp đều  </span></strong></p>
        <ul>
          <li>
            <span style="font-size:14px;">Giảm <span style="color:#ff0000;"><strong>200.000đ </strong></span> khi đăng ký theo nhóm từ 3 học viên</span></li>
            <li>
                <span style="font-size:14px;">Giảm <span style="color:#ff0000;"><strong>10% học phí </strong></span> cho những học viên cũ</span></li>
            </ul>
        <div>
          <div style="text-align: left;">
            <div>
              <span style="font-size: 14px;"><u style="text-align: left;"><strong>Lưu ý:</strong></u></span></div>
            <div>
              <span style="font-size: 14px;"><strong>Thời hạn cuối cùng được nhận ưu đãi đến hết ngày<span style="color: rgb(255, 0, 0);"> 16/04/2019</span></strong></span></div>
            <div>
              <span style="font-size: 14px;"><strong>** Học trực tiếp trên máy - 1 học viên/máy - Học phí đã bao gồm giáo trình, lệ phí thi và cấp chứng chỉ **</strong></span></div>
          </div>
        </div>
      </div>
    </div>
  <hr>
  <h1>Lịch khai giảng</h1>
  <mat-accordion>
    <ng-container *ngFor="let cour of courses; index as i">
      <ng-container *ngIf="i != 0; else elseBlock">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ cour.course }} - {{ cour.level.level }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-class-by-course [idCourse]="cour.idCourse"></app-class-by-course>
        </mat-expansion-panel>
      </ng-container>
      <ng-template #elseBlock>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ cour.course }} - {{ cour.level.level }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-class-by-course [idCourse]="cour.idCourse"></app-class-by-course>
        </mat-expansion-panel>
      </ng-template>
    </ng-container>
  </mat-accordion>
</div>
<app-footer></app-footer>