mat-form-field{
    width: 100%;
}
mat-checkbox{
    margin-right: 25px;
}
label{
    padding-right: 10px;
}
button, input[type="button"]{
    width: 150px;
    margin: 0px auto;
}
h1{
    text-align: center; 
}