<div class="manage">
  <div class="card-header">
    Table
  </div>
  <div class="card-body">
    <div class="add">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="onOpenDialogAdd()">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let item">{{ item.idInvoice }}</td>
      </ng-container>
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Khóa học</th>
        <td mat-cell *matCellDef="let item">
          {{ item.clazz == null ? '' : item.clazz.course.course + ' - ' + item.clazz.course.level.level }}</td>
      </ng-container>
      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Người nộp</th>
        <td mat-cell *matCellDef="let item">{{ item.studentName }}</td>
      </ng-container>
      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nhân viên</th>
        <td mat-cell *matCellDef="let item">{{ item.employee == null ? '' : item.employee.employeeName }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày lập</th>
        <td mat-cell *matCellDef="let item">{{ item.dateInvoice | date: 'dd-MM-yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số người</th>
        <td mat-cell *matCellDef="let item">{{ item.groupNum }}<button mat-button color="primary"
            (click)="onOpenDetail(item.idInvoice, item.clazz.idClass)">Chi tiết</button></td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Học phí</th>
        <td mat-cell *matCellDef="let item">{{ item.cost | currency }}</td>
      </ng-container>
      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phương thức</th>
        <td mat-cell *matCellDef="let item">{{ item.payment }}</td>
      </ng-container>
      <ng-container matColumnDef="tool">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Thao tác</th>
        <td mat-cell *matCellDef="let item">
          <button mat-raised-button color="primary" (click)="openDialog(item.idInvoice)">
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
          <button mat-raised-button color="warn" (click)="onDelete(item.idInvoice)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
          <button mat-raised-button color="primary" (click)="onExport(item.idInvoice)">
            In
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>