.manage{
    float: right;
    width: 80%;
}
.manage h4{
    text-align: center;
    padding: 10px 0px;
}
.manage mat-tab-group{
    margin: 10px 20px;
}

@media screen and (max-width: 600px) {
    .manage{
        width: 100%;
    }
    .manage mat-tab-group{
        margin: 0;
    }
}