<h1 mat-dialog-title>Đăng tin tức</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <!-- Chọn loại tin -->
    <mat-form-field>
      <mat-label>Loại tin</mat-label>
      <select matNativeControl formControlName="idCourse">
        <option [value]=""></option>
        <ng-container *ngIf="courses != null">
          <option *ngFor="let cour of courses " [value]="cour.idCourse">{{ cour.course }}</option>
        </ng-container>
      </select>
    </mat-form-field>
    <!--Tiêu đề -->
    <mat-form-field>
      <input matInput placeholder="Tiêu đề*" formControlName="title">
      <mat-error *ngIf="hasError('title', 'required')">Tên không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Mô tả-->
    <mat-form-field>
      <textarea matInput placeholder="Mô tả tin*" formControlName="describes" name="" id="" cols="30"
        rows="3"></textarea>
      <mat-error *ngIf="hasError('describes', 'required')">Tên không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Nội dung -->
    <mat-form-field>
      <textarea matInput placeholder="Nội dung tin*" formControlName="content" name="" id="" cols="30"
        rows="3"></textarea>
      <mat-error *ngIf="hasError('content', 'required')">Tên không được bỏ trống</mat-error>
    </mat-form-field>
    <input type="file" (change)="onFileSelected1($event);" formControlName="avatar">
    <!-- image  -->
    <input type="file" (change)="onFileSelected($event);" formControlName="image">
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Thêm</button>
  </div>
</form>