<div class="room">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Id</th>
        <th>Tên phòng</th>
        <th>Kích thước</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.idRoom }}</td>
        <td>{{ room.roomName }} </td>
        <td>{{ room.size }}</td>
        <td>{{ room.status }} </td>
        <td><a href="" class="btn btn-success">Sửa</a></td>
      </tr>
    </tbody>
  </table>
</div>