.register{
    width: 80%;
    margin: 25px auto;
}
mat-form-field{
    width: 48%;
    margin: 0px 10px;
}
mat-radio-button{
    margin-right: 20px;
    margin-left: 10px;
}
button, input[type="button"]{
    width: 20%;
    margin: 0px 20px;
}
h1{
    text-align: center; 
}
@media screen and (max-width: 600px) {
    .register{
        width: 100%;
        margin: 10px auto;
    }      
    mat-form-field{
        width: 100%; 
        margin: 0px 10px;
    }
    button, input[type="button"]{
        width: 100%;
        margin: 10px auto;
    }
}