.register{
    width: 80%;
    margin: 25px auto;
}
mat-form-field{
    width: 40%;
    margin: 15px auto;
}
mat-radio-button{
    margin-right: 20px;
    margin-left: 10px;
}
button{
    margin: 10px;
}
h1, h5{
    text-align: center; 
    padding: 10px;
}
table{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width: 600px) {
    .register{
        width: 100%;
        margin: 10px auto;
    }      
    mat-form-field{
        width: 100%; 
        margin: 0px 10px;
    }
    button, input[type="button"]{
        width: 100%;
        margin: 10px auto;
    }
}