mat-form-field{
    width: 100%;
}
mat-radio-button{
    margin-right: 20px;
}
.majors{
    width: 100%;
    margin-right: 5px;
    float: left;
}
.majors mat-form-field{
    width: 88%;
}
.majors a{
    width: 12%;
}
button, input[type="button"]{
    width: 150px;
    margin: 0px auto;
}
h1{
    text-align: center; 
}