<h1 mat-dialog-title>Sửa thông tin</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div mat-dialog-content>
    <p>Bạn muốn sửa học viên có Id là: {{ data.stu.idStudent }}?</p>
    <!-- Họ tên -->
    <mat-form-field>
      <input matInput placeholder="Họ tên*" formControlName="lecturersName">
      <mat-error *ngIf="hasError('lecturersName', 'required')">Tên không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('lecturersName', 'maxlength')">Tối đa 30 ký tự</mat-error>
    </mat-form-field>
    <!-- Chuyên ngành -->
    <mat-form-field>
      <mat-label>Chuyên ngành</mat-label>
      <select matNativeControl formControlName="idMajors">
        <option [value]=""></option>
        <ng-container *ngIf="allMajors != null">
          <option *ngFor="let mj of allMajors " [value]="mj.idMajors">{{ mj.majors }}</option>
        </ng-container>
      </select>
      <mat-error *ngIf="hasError('idMajors', 'required')">Chuyên ngành không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Id tài khoản -->
    <mat-form-field>
      <mat-label>Tài khoản</mat-label>
      <select matNativeControl formControlName="idAccount">
        <option [value]=""></option>
        <ng-container *ngIf="allAccount != null">
          <option *ngFor="let acc of allAccount " [value]="acc.idAccount">{{ acc.username }}</option>
        </ng-container>
      </select>
    </mat-form-field>
    <!-- Ngày sinh -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" formControlName="lecturersDate" id="date"
        readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('lecturersDate', 'required')">Chọn ngày sinh</mat-error>
    </mat-form-field>
    <!-- Giới tính -->
    <mat-radio-group aria-label="Giới tính" formControlName="sex">
      <mat-radio-button value="1">Nam</mat-radio-button>
      <mat-radio-button value="0">Nữ</mat-radio-button>
    </mat-radio-group>
    <!-- Địa chỉ -->
    <mat-form-field>
      <input matInput placeholder="Địa chỉ" formControlName="address">
      <mat-error *ngIf="hasError('address', 'required')">Địa chỉ không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Email -->
    <mat-form-field>
      <input matInput placeholder="Email*" formControlName="email">
      <mat-error *ngIf="hasError('email', 'required')">Email không được bỏ trống</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">Email sai định dạng</mat-error>
    </mat-form-field>
    <!-- Số điện thoại -->
    <mat-form-field>
      <input matInput placeholder="Số điện thoại*" formControlName="phone">
      <mat-error *ngIf="hasError('phone', 'pattern')">Số điện thoại chỉ chứa kí tự từ 0->9</mat-error>
      <mat-error *ngIf="hasError('phone', 'required')">Số điện thoại không được bỏ trống</mat-error>
    </mat-form-field>
    <!-- Lương -->
    <mat-form-field>
      <input matInput placeholder="Lương*" formControlName="salary">
      <mat-error *ngIf="hasError('salary', 'pattern')">Lương chỉ chứa kí tự từ 0->9</mat-error>
      <mat-error *ngIf="hasError('salary', 'required')">Lương không được bỏ trống</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action">
    <input type="button" class="btn btn-danger" (click)="onCancel()" value="Hủy">
    <button mat-raised-button color="primary" type="submit">Sửa</button>
  </div>
</form>