mat-accordion{
  width: 375px;
  bottom: 0;
  right: 0;
  margin-right: 100px;
  position: fixed;
  z-index: 999999999;
}
mat-form-field{
  width: 100%;
  margin: 10px auto;
}
form{
  margin-top: 10px;
  margin-bottom: 10px;
}
button{
  float: right;
  margin-top: 10px;
}
fa-icon{
  margin-right: 5px;
}