/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/images/bglogin.jpeg');
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
}