<app-header></app-header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-card class="card">
      <mat-card-header>
        <img *ngIf="student.image == null; else isImg" mat-card-avatar src="../../assets/images/img.PNG" alt="person">
        <ng-template #isImg>
          <img mat-card-avatar src="http://localhost:8080/downloadFile/{{student.image}}" alt="person">
        </ng-template>
        <mat-card-title>{{ username }}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-personal-form [student]="student"></app-personal-form>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
  <button type="button" class="toggle" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>keyboard_arrow_right</mat-icon>  
  </button>
  <div class="example-sidenav-content">
    <app-list-registered [idStudent]="idStudent"></app-list-registered> 
  </div>
</mat-drawer-container>
<app-footer></app-footer>