<footer>
    <div class="footer full-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <div class="tittle">
                        <h3>TRUNG TÂM TIN HỌC</h3>
                    </div>
                    <div class="address">
                        <ul>
                            <li><i class="fa fa-map-marker"></i>
                                <p>Địa chỉ: Xuân Thủy, Cầu giấy , Tp. HN</p>
                            </li>
                            <li><i class="fa fa-mobile"></i>
                                <p>Điện thoại: <a href="+84 971 751 498">+84 971 751 498</a></p>
                            </li>
                            <li><i class="fa fa-envelope-o"></i>
                                <p>Suppost@<a href="mailto:it.com">it.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="deadline">
                        <span><fa-icon [icon]="faClock"></fa-icon> 08:00 - 20:00</span>
                        <p>Hàng ngày trong tuần</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="tittle">
                        <h3>HỖ TRỢ CHĂM SÓC KHÁCH HÀNG</h3>
                    </div>
                    <div class="phonenumber">
                        <a href=""><fa-icon [icon]="faPhone"></fa-icon> 097 1751 498</a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="likepage"><img src="../../../assets/images/logo.PNG"></div>
                </div>
                <div class="coppyright">
                    <span>Copyright © 2019 by Trung tâm tin học . All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>