<div class="login">
  <h1 mat-dialog-title><a [routerLink]="['']">
      <mat-icon>home</mat-icon>
    </a> Đổi mật khẩu</h1>
  <form [formGroup]="form" class="formlogin" (ngSubmit)="form.valid && onSubmit(form.value)">
    <div mat-dialog-content>
      <!-- Email -->
      <mat-form-field>
        <input matInput placeholder="Email*" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">Trường này không được bỏ trống</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Email sai định dạng</mat-error>
      </mat-form-field>
      <!-- Mật khẩu -->
      <mat-form-field>
        <input matInput placeholder="Mật khẩu cữ*" formControlName="pass">
        <mat-error *ngIf="hasError('pass', 'required')">Trường này không được bỏ trống</mat-error>
        <mat-error *ngIf="hasError('pass', 'minLength')">Ít nhất 6 ký tự</mat-error>
        <mat-error *ngIf="hasError('pass', 'pattern')">Chỉ chứa các ký tự a->z, A->Z và 0->9</mat-error>
      </mat-form-field>
      <!-- Nhập lại mật khẩu -->
      <mat-form-field>
        <input matInput placeholder="Mật khẩu mới*" formControlName="repass">
        <mat-error *ngIf="hasError('repass', 'required')">Trường này không được bỏ trống</mat-error>
        <mat-error *ngIf="hasError('repass', 'minLength')">Ít nhất 6 ký tự</mat-error>
        <mat-error *ngIf="hasError('repass', 'pattern')">Chỉ chứa các ký tự a->z, A->Z và 0->9</mat-error>
      </mat-form-field>
      <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" type="submit">Thay đổi</button>
      </div>
      <p>Vui lòng xác nhân đổi mật khẩu bằng đường link trên email</p>
    </div>
  </form>
</div>